{{#each livros}}
    <div class="row">
    {{#each this }}        
    <div class="card" style="width: 20rem;">        
        <img class="card-img-top img-responsive"
            src="{{this.CaminhoImagem}}"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.NomeLivro}}</h5>
            <p class="card-text description">{{this.Descricao}}</p>
            <div>
                <div class="price">R${{this.Preco}},00</div>
                <form action="/Carrinho/AdicionarAoCarrinho/{{this.sku}}" method="POST">
                    <input class="btn btn-success" type='submit' value='Adicionar ao carrinho!' />
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
<style>
    img {
    max-height: 300px;
}
</style>
